body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 2em;
}
.api-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.api-outer input{
    height: 3em;
    width: 30em;
    border-radius: 8px;
    border: 1px solid gray;
    margin-right: 1em;
}
.api-outer button{
    height: 3em;
    width: 10em;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 1px;
}
.fetch{
    height: fit-content;
    width: 30em;
    border: 2px solid black;
    border-radius: 45px;
    padding: 1% 5%;
    overflow-x: scroll;
}
.fetch::-webkit-scrollbar {
    width: 5px;
    height: 0.5em;
    overflow: hidden;
  }
  
  /* Track */
 .fetch::-webkit-scrollbar-track {
    background: transparent; 
    overflow: hidden;
  }
   
  /* Handle */
 .fetch::-webkit-scrollbar-thumb {
    background: #111; 
    border-radius: 45px;
    overflow: hidden;
    height: 5em;
  }

#Fetching{
display: none;
}

